<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% extends 'customer/customer_base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
<title>Auditions Registration Form Widget Flat Responsive Widget Template :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Auditions Registration Form Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- //custom-theme -->
<link href="{% static 'form/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="{% static 'form/js/jquery-2.1.4.min.js' %}"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Anton&amp;subset=latin-ext,vietnamese" rel="stylesheet">
</head>
<body>
<!-- banner -->
	<div class="center-container">
	<div class="banner-dott" style="margin-top: -200px;">
		<div class="main">
			<h1 class="w3layouts_head">Customer Initiation Form</h1>
				<div class="w3layouts_main_grid">
					<form action="/customer_initiation_form/" method="post" class="w3_form_post">
						{% csrf_token %}
						{% for i in ob %}
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Customer name </label>
								<input type="text" name="name" placeholder="Your Name" value="{{i.username}}" required="">
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>customer Email </label>
								<input type="text" name="mail" placeholder="Your Email" value="{{i.email}}" required="">
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Phone Number </label>
								<input type="text" name="contact" placeholder="Phone Number" value="{{i.contact}}" required="">
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Building Type </label>
								<select name="building" style="width:68%;">
									<option value="none" selected="" disabled="">Select Category</option>
									<option>Residential</option>
									<option>Educational Building</option>
									<option>Institutional Building</option>
									<option>Business Building</option>
									<option>Storage Building</option>
									<option>Multi-Storey or High Rise Building</option>
								</select>
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Land Area </label>
								<input type="text" name="area" placeholder="Land Area in Sq ft." required="">
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Soil Type </label>
								<select name="type" style="width:68%;">
									<option value="none" selected="" disabled="">Select Category</option>
									<option>Sandy Soil</option>
									<option>Clay Soil</option>
									<option>Granite or Rocky Soil</option>
									<option>Chalk and Lime Stone Soil</option>
									<option>Gravelly Soil</option>
									<option>Filled or Made Soil</option>
								</select>
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Soil Condition </label>
								<select name="condition" style="width:68%;">
									<option value="none" selected="" disabled="">Select Condition</option>
									<option>Good</option>
									<option>Moderate</option>
									<option>Excellent</option>
									<option>Not Suitable</option>
								</select>
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Foundation </label>
								<select name="foundation" style="width:68%;">
									<option value="none" selected="" disabled="">Select Foundation</option>
									<option>Deep</option>
									<option>Medium</option>
									<option>Low</option>
									<option>Not Allowed</option>
								</select>
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Water Facility </label>
								<select name="water" style="width:68%;">
									<option value="none" selected="" disabled="">Choose...</option>
									<option>Adequate</option>
									<option>Sufficient</option>
								</select>
							</span>
						</div>
					<div class="w3_main_grid">
						<div class="w3_main_grid_right">
							<input type="submit" value="Submit">
						</div>
					</div>
					{% endfor %}
					</form>
			</div>
		<!-- Calendar -->
			<link rel="stylesheet" href="{% static 'form/css/jquery-ui.css' %}" />
				<script src="{% static 'form/js/jquery-ui.js' %}"></script>
					<script>
						$(function() {
							$( "#datepicker" ).datepicker();
						});
					</script>
		<!-- //Calendar -->
			<div class="w3layouts_copy_right">
				<div class="container">
<!--					<p>© 2017 Auditions Registration Form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts.</a></p>-->
				</div>
			</div>
		</div>
	</div>
	</div>
<!-- //footer -->
</body>
{% endblock %}
</html>
